.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1{
    font-size: 3.5rem;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-weight: 700;
}
p{
    font-weight: 500;
    color: rgb(114, 106, 106);
}
.special-text{
    /* color: #DE3163; */
}
.special-bg{
    background-color: #DE3163;
}